DATABASE_URL=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DATABASE_USERNAME=xxxxxxxxxxxxxxxxx
DATABASE_PASSWORD=xxxxxxxxxxxx
JWT_SECRET=xxxxxxxxxxxxxxx
JWT_ISSUER=xxxxxxxxxxxxxxxxxx
JWT_TTL_MILLIS=xxxxxxxxxx
AWS_SECRET_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
AWS_ACCESS_KEY_ID=xxxxxxxxxxxx
AWS_REGION=xxxxxx
MAX_REQUEST_SIZE=xxx
MAX_FILE_SIZE=xxx